<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

  <meta name="description" content="{{ config.description }}">
  <meta name="keywords" content="{{ config.extra.keywords }}">
  <meta name="author" content="{{ config.extra.author }}">

  <title>{{ config.title }}</title>

  <link rel="stylesheet" href="{{ get_url(path="css/style.css") | safe }}">

  {% if config.generate_feed %}<link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">{% endif %}
</head>
<body>
  {% block sidebar %}
  <div class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <h1><a href="{{ config.base_url | safe }}">{{ config.title }}</a></h1>
        <p class="lead">{{ config.description }}</p>
      </div>

      <div class="sidebar-links">
        {% if config.extra.github %}
        <a class="icon-github" href="https://github.com/{{ config.extra.github }}" title="GitHub" target="_blank" rel="noopener noreferrer"></a>
        {% endif %}
        {% if config.extra.docker_hub %}
        <a class="icon-docker-hub" href="https://hub.docker.com/u/{{
          config.extra.docker_hub }}" title="Docker Hub" target="_blank" rel="noopener noreferrer"></a>
        {% endif %}
        {% if config.extra.twitter %}
        <a class="icon-twitter" href="https://twitter.com/{{ config.extra.twitter }}" title="Twitter" target="_blank" rel="noopener noreferrer"></a>
        {% endif %}
        {% if config.extra.linkedin %}
        <a class="icon-linkedin" href="https://www.linkedin.com/in/{{
          config.extra.linkedin }}" title="LinkedIn" target="_blank" rel="noopener noreferrer"></a>
        {% endif %}
        {% if config.extra.keybase %}
        <a class="icon-keybase" href="https://keybase.io/{{ config.extra.keybase }}" title="Keybase" target="_blank" rel="noopener noreferrer"></a>
        {% endif %}
        {% if config.extra.email %}
        <a class="icon-email" href="mailto:{{ config.extra.email }}" title="Email"></a>
        {% endif %}
        <a class="icon-rss" href="{{ get_url(path=config.feed_filename) | safe }}" title="RSS"></a>
      </div>

      <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if "/" == current_path %} active{% endif %}" href="/">Home</a>
        {% set index = get_section(path="pages/_index.md") %}
        {% for page in index.pages %}
        <a class="sidebar-nav-item{% if page.path == current_path %} active{%
          endif %}" href="{{ page.path | safe }}">{{ page.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
  {% endblock sidebar %}

  <div class="content container">
    {% block content %}
    <div id="search-container">
      <input type="search" id="search-input" placeholder="{{ trans(key="search_bar") }}">
      <ul id="results-container"></ul>
    </div>

    <div class="posts">
      {% set posts = get_section(path="posts/_index.md") %}
      {% for post in posts.pages %}
      <div class="post" property="blogPost" typeof="BlogPosting">
        <h2 class="post-title" property="headline">
          <a href="{{ post.permalink }}">
            {{ post.title | safe }}
          </a>
        </h2>

        <div class="post-meta">
          <time class="post-date" datetime="{{ post.date | date(format="%F %R") }}" property="datePublished">{{ post.date | date(format="%Y-%m-%d") }}</time>
          <div class="post-author" property="author" typeof="Person" hidden>
            <span property="name">{{ config.extra.author }}</span>
            <span property="givenName">{{ config.extra.first_name }}</span>
            <span property="familyName">{{ config.extra.last_name }}</span>
            <span property="alternateName">{{ config.extra.nickname }}</span>
            <span property="email">{{ config.extra.email }}</span>
          </div>
        </div>

        {% if post.summary %}
        <div class="post-content" property="description">
          {{ post.summary | safe }}
        </div>

        <a href="{{ post.permalink }}">{{ trans(key="read_more") }}</a>
        {% else %}
        <div class="post-content" property="articleBody">
          {{ post.content | safe }}
        </div>
        {% endif %}

        {% if post.taxonomies.categories %}
        <span class="categories" property="keywords">{% for category in
          post.taxonomies.categories %}{{ category }} {% endfor %}</span>
        {% endif %}

        {% if post.taxonomies.tags %}
        <span class="tags" property="keywords">{% for tag in
          post.taxonomies.tags %}{{ tag }} {% endfor %}</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endblock content %}
  </div>
</body>
</html>
