<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

  <meta name="description" content="{{ config.description }}">
  <meta name="keywords" content="{{ config.extra.keywords }}">
  <meta name="author" content="{{ config.extra.author }}">

  <title>{{ config.title }}</title>

  <link rel="stylesheet" href="{{ get_url(path="css/style.css") | safe }}">

  {% if config.generate_feed %}<link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">{% endif %}
</head>
<body>
  {% block sidebar %}
  <div class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
        <p class="lead">{{ config.description }}</p>
      </div>

      <div class="sidebar-links">
        <a class="icon-rss" href="{{ get_url(path=config.feed_filename) | safe }}" title="RSS"></a>
      </div>

      <nav class="sidebar-nav">
        {% for link in section.extra.sidebar_links %}
        <a class="sidebar-nav-item{% if link.url == current_path %} active{% endif %}" href="{{ link.url }}">{{ link.name }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
  {% endblock sidebar %}

  <div class="content container">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>
